<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>


<%= link_to "Editar", edit_book_path(@book) %>
<%= link_to "Borrar", book_path(@book), method: :delete, data: { confirm: "Estás seguro?" } %>