<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>

<%= link_to "Volver", root_path %>

<% if user_signed_in? %>


<% if @book.user_id == current_user.id %>

<%= link_to "Editar", edit_book_path(@book) %>
<%= link_to "Borrar", book_path(@book), method: :delete, data: { confirm: "Estás seguro?" } %>

<% end %>

<% end %>
